<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"anchor":"main","tagName":"main","layout":{"type":"constrained"},"style":{"spacing":{"blockGap":"var:preset|spacing|5","margin":{"top":"0","bottom":"0"}}}} -->
<div id="main" class="wp-block-group">
	<!-- wp:heading {"level":1} -->
	<h1 class="wp-block-heading">Page not found</h1>
	<!-- /wp:heading -->
	<!-- wp:paragraph -->
	<p>The page you are looking for does not exist or has moved.</p>
	<!-- /wp:paragraph -->
	<!-- wp:search {"label":"Search","showLabel":true,"placeholder":"Try a search…","width":100,"widthUnit":"%","buttonText":"Search"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
