<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"anchor":"main","tagName":"main","layout":{"type":"constrained"},"style":{"spacing":{"blockGap":"var:preset|spacing|5","margin":{"top":"0","bottom":"0"}}}} -->
<main id="main" class="wp-block-group">
	<!-- wp:post-title {"level":1} /-->
	<!-- wp:paragraph {"textColor":"text-muted"} -->
	<p class="has-text-muted-color has-text-color">Mon historique d'écoute, alimenté par <a href="https://last.fm" target="_blank" rel="noopener">Last.fm</a> via un plugin maison. Scrobblé depuis 2006.</p>
	<!-- /wp:paragraph -->

	<!-- wp:jardin/lastfm-stats /-->

	<!-- wp:jardin/lastfm-now-playing /-->

	<!-- wp:jardin/recent-jams {"layout":"cards","postsToShow":4} /-->

	<!-- wp:jardin/lastfm-rankings {"showTabs":true,"defaultPeriod":"7day","artistsLimit":10,"albumsLimit":5} /-->

	<!-- wp:jardin/recent-listens {"layout":"scrobbles","postsToShow":15} /-->

	<!-- wp:jardin/lastfm-rankings {"showTabs":false,"defaultPeriod":"overall","artistsLimit":10,"showAlbums":false} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
