<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"anchor":"main","tagName":"main","layout":{"type":"constrained"},"style":{"spacing":{"blockGap":"var:preset|spacing|5","margin":{"top":"0","bottom":"0"}}},"className":"site-main-shell"} -->
<main id="main" class="wp-block-group">

	<!-- wp:jardin-theme/breadcrumb /-->
	<!-- wp:post-title {"level":1} /-->
	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
	<!-- wp:query {"queryId":51,"query":{"perPage":50,"pages":0,"offset":0,"postType":"blogroll","order":"asc","orderBy":"title","inherit":false}} -->
	<div class="wp-block-query">
		<!-- wp:post-template {"layout":{"type":"default","columnCount":1},"className":"entries is-blogroll"} -->
			<!-- wp:pattern {"slug":"jardin-theme/entry-card"} /-->
			<!-- wp:separator {"className":"is-style-dashed-faint"} /-->
		<!-- /wp:post-template -->
		<!-- wp:query-no-results -->
			<!-- wp:paragraph -->
			<p>Aucun site dans le blogroll pour l’instant.</p>
			<!-- /wp:paragraph -->
		<!-- /wp:query-no-results -->
	</div>
	<!-- /wp:query -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
