<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"align":"full","anchor":"main","tagName":"main","layout":{"type":"constrained"},"style":{"spacing":{"blockGap":"var:preset|spacing|5","margin":{"top":"0","bottom":"0"}}}} -->

	<!-- wp:jardin-theme/breadcrumb /-->
	<!-- wp:group {"layout":{"type":"constrained"},"style":{"spacing":{"blockGap":"var:preset|spacing|4"}},"className":"single h-entry","tagName":"article"} -->
	<article class="wp-block-group single h-entry">
		<!-- wp:post-title {"level":1,"className":"p-name"} /-->
		<!-- wp:pattern {"slug":"jardin-theme/post-meta-bar"} /-->
		<!-- wp:post-featured-image /-->
		<!-- wp:jardin-theme/event-link-banner /-->
		<!-- wp:post-content {"className":"e-content","layout":{"type":"constrained"}} /-->
		<!-- wp:jardin-theme/post-engage /-->
		<!-- wp:template-part {"slug":"single-footer"} /-->
	</article>
	<!-- /wp:group -->
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
