<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"anchor":"main","tagName":"main","layout":{"type":"constrained"},"style":{"spacing":{"blockGap":"var:preset|spacing|5","margin":{"top":"0","bottom":"0"}}}} -->
<main id="main" class="wp-block-group" style="margin-top:0;margin-bottom:0">

	<!-- wp:jardin-theme/breadcrumb /-->
	<!-- wp:pattern {"slug":"jardin-theme/listen-single-header"} /-->
	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
	<!-- wp:jardin-theme/post-engage /-->
	<!-- wp:template-part {"slug":"single-footer"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
