<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"anchor":"main","tagName":"main","layout":{"type":"constrained"},"style":{"spacing":{"blockGap":"var:preset|spacing|5","margin":{"top":"0","bottom":"0"}}}} -->
<div id="main" class="wp-block-group">
	<!-- wp:pattern {"slug":"jardin/listen-single-header"} /-->
	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
	<!-- wp:jardin/post-engage /-->
	<!-- wp:template-part {"slug":"single-footer"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
